---
layout: page
title: Tags
description: You can find what you want here.
background:
---

<!-- 标签云 -->
<h4><i>Tags: click for related blogs.</i></h4>
<div id='tag_cloud' class="tags">
{% for tag in site.tags %}
<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }} ({{ tag[1].size }})</a>
{% endfor %}
</div>

<!-- 标签列表 -->
{% for tag in site.tags %}
<div class="one-tag-list">
  <span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
    <span class="tag-text">{{ tag[0] }}</span>
  </span>
  {% for post in tag[1] %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" target="_blank">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      {% else %}
      <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
      {% endif %}
    </a>
  </article>
  <hr>
  {% endfor %}
</div>
{% endfor %}
