body {
  font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

img {
  max-width:100%;
}

pre {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.wrapper {
  width:1000px;
  margin:0 auto;
  padding-top:20px;
  padding-bottom:80px;
}

.center {
  text-align: center;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

.m1 {
  width: 10%;
  display: block;
}

.m2 {
  width: 20%;
  display: block;
}

.m3 {
  width: 30%;
  display: block;
}

.m4 {
  width: 40%;
  display: block;
}

.m5 {
  width: 50%;
  display: block;
}

.m6 {
  width: 60%;
  display: block;
}

.m7 {
  width: 70%;
  display: block;
}

.m8 {
  width: 80%;
  display: block;
}

.m9 {
  width: 90%;
  display: block;
}

.method-summarize img {
  max-width:50%;
}
